# Unreal Engine generated folders
Binaries/
Content/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Visual Studio files
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Mac OS files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Build artifacts
Build/

# Crash reports
*.dmp

# User-specific files
*.user
*.userprefs

# Log files
*.log